/*home page carousel*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 500px;
    min-width: 100%;
    max-width: 100%;
    line-height: 1;

}
/*evebts section*/
 #events-home
 {
   position: relative;
   height: 500px;
   margin-top: 0px;
 }

#events-home .container
{
  position: absolute;
  top: 50%;
  width: 100%;
}
#events-img
{
  width: 100%;
  height: 100%;
}
.intro-header
{
   background-size: cover;
   width: 100%;
   height: 100%;
   height: 450px;
 }
 .intro-header .about-heading
  {
    text-align: center;
    padding: 150px 0;
    margin-top: 0;
    font-size: 50px;
  }
  hr.small
  {
    max-width: 100px;
    border-width: 4px;
    border-color: white;
    margin: 15px auto;
  }
  /*about section*/
  .img-center
  {
    margin: 0 auto;
  }
